* {
  margin: 0;
}

body {
  background-color: tomato;
}


/*Currently, the <li> items are block level elements. Add correct styles to remove the bullets and display them as inline elements.*/
.block {
  list-style: none;
  display: inline;
  background-color: white;
  padding: 5px;
  margin: 10px;
}

/*The three <span> elements should be displayed as block elements with a 1 pixel border and 25 pixel margin on all sides.
*/
.inline {
  display: block;
  border: 1px solid purple;
  margin: 25px;
}

/*In the article element with the class n-child, add a 1 pixel border around every even numbered section element.*/
.n-child section:nth-of-type(2n) {
  border: 1px solid yellow;
}